html {
  scroll-behavior: smooth;
}

/* Estilos del documento */

body {
  color: black;
  background-color: #ffe8cc !important;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Noto Serif', serif;
}   

h2,
.subtitulo i {
  font-size: 2rem;
}

.navbar {
  margin: -40px 0;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: 'Noto Serif', serif;
}

.navbar img {
  height: 2.2rem;
  margin-right: 0.8rem;
}


.card img {
  overflow: hidden;
  background-size: cover;
}


footer i {
  font-size: 3rem;
}

a i {
  text-decoration: none;
  color: white;
}

footer a:hover {
  opacity: 0.6;
}

/* Alineación vertical de la navegación del navbar */

#nosotros,
#destacados,
#contacto {
  padding-top: 3em;
  margin-top: -3em;
}

/* Media Query */

@media (max-width: 992px) {
  h2,
  .subtitle i {
    font-size: 2rem;
  }

  .navbar {
    margin: 0;
    background-color: black;
  }

  #nosotros,
  #destacados,
  #contacto {
    padding-top: 14em;
    margin-top: -14em;
  }
}


